@CHARSET "UTF-8";

body {
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: URW Palladio L, serif;
}

.home_container {
    margin: 50px auto;
	width: 70%;
}

.page_container {
    margin: 50px auto;
	width: 50%;
}

a {
	text-decoration: none;
	color: #999;
}
a:hover {
	text-decoration: underline;
}

#site_nav > ul {
    padding: 0px;
    margin: 0px 0px 10px;
    list-style: none;
    font-size: 1.5em;
}
#site_nav > ul > li {
    display: inline;
    margin-right: 30px;
}
.header_link {
}
.active_header_link {
    color: #000;
}
#site_header {
	margin-bottom: 10px;
    border-bottom: 1px solid #d5d5d5;
}

#site_footer {
	margin-top: 10px;
    border-top: 1px solid #d5d5d5;
}
#site_footer > ul {
    padding: 0px;
    margin: 10px 0px 0px;
    list-style: none;
    font-weight: bold;
}
#site_footer > ul > li {
    display: inline;
    margin-right: 20px;
}
.footer_link {
}

#welcome_text {
	margin-bottom: 25px;
}
a#home_heading {
    font-size: 2em;
    font-weight: normal;
    color: #333;
    letter-spacing: 1px;
}
a#home_heading > span {
	font-size: 0.5em;
}
a#home_heading:hover {
	text-decoration: none;
	letter-spacing: 1.5px;
}

#welcome_slideshow {
	position: relative;
	background-color: #000;
	width: 100%;
	padding-top: 56.25%;
	/*TODO border-radius: 5px;*/
}
#welcome_slideshow:hover > #bttn_left {display: inline-block;}
#welcome_slideshow:hover > #bttn_right {display: inline-block;}

.welcome_pic {
	width: 100%;
	position: absolute;
	top: 0;
}

button {
	border: none;
	padding: 8px 16px;
	display: none;
	vertical-align: middle;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
	color: #fff!important;
	background-color: #000!important;
}
button:hover{
	color: #000!important;
	background-color: #ccc!important;
}
#bttn_left {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%,-50%);
}
#bttn_right {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%,-50%);
}
