---
layout: default
lang: hr
title: Početna
id: home_hr
permalink: /hr/
redirect_from:
  - /
---
<div id="home_sidebar">

  {% include sidebar_title_hr.html %}
  
  <div id="sidebar_notification">
    <h2>Držim instrukcije!</h2>
    Za instrukcije iz fizike, matematike, informatike ili bilo čega srodnoga,
    na širem području grada Zagreba, slobodno pošaljite upit na
    <a href="mailto:{{ site.email }}">{{ site.email }}.</a>
  </div>
  
</div>

<div id="home_container">
	
  {% include header_hr.html %}

  <div id="welcome_slideshow">
    {% for photo in site.data.welcome_pics %}
    <img class="welcome_pic" src="{{ photo.path }}" title="{{ photo.title_hr }}" style="display: none;"/>
    {% endfor %}
    <button class="slideshow_bttn" id="home_bttn_left" onclick="prevImg()">&#10094;</button>
    <button class="slideshow_bttn" id="home_bttn_right" onclick="nextImg()">&#10095;</button>
    <script src="/scripts/slideshow.js"></script>
  </div>
	
  {% include footer_hr.html %}

</div>
