---
layout: default
lang: en
title: Home
id: home_en
permalink: /en/
---
<div id="home_sidebar">

  {% include sidebar_title.html %}
  <h3>
  Certified Teacher<br>
  MSc in Physics & ICT
  </h3>
  
</div>

<div id="home_container">
	
  {% include header_en.html %}

  <div id="welcome_slideshow">
    {% for photo in site.data.welcome_pics %}
    <img class="welcome_pic" src="{{ photo.path }}" title="{{ photo.title_en }}" style="display: none;"/>
    {% endfor %}
    <button class="slideshow_bttn" id="home_bttn_left" onclick="prevImg()">&#10094;</button>
    <button class="slideshow_bttn" id="home_bttn_right" onclick="nextImg()">&#10095;</button>
    <script src="/scripts/slideshow.js"></script>
  </div>
	
  {% include footer.html %}

</div>
