<header id="site_header">
  <table><tr>
  {% for site_page in site.html_pages %}
    {% if site_page.header == true and site_page.lang == "en" %}
    <td><a {% if site_page.id == page.id %}
      class="active_header_link"
      {% else %}
      class="header_link"
      {% endif %}
      href="{{ site_page.url }}">{{ site_page.title }}</a>
    </td>
    {% endif %}
  {% endfor %}
  </tr></table>
</header>
<div id="lang_link">
  <a href="{{ page.url | replace: '/en/', '/hr/'}}">hrvatski</a>
  |
  <a class="active" href="{{ page.url | replace: '/hr/', '/en/'}}">english</a>
</div>
