<div class="sidebar">
  <div id="sidebar_title">
    <a id="sidebar_name" href="/en/">Eugen Rožić</a>
    <br>
    <a id="sidebar_IPA" href="https://en.wikipedia.org/wiki/Help:IPA/Serbo-Croatian" target="_blank">/&#x025B;ug&#x025B;n ro&#x0292;it&#x0255;/</a>
    <br>
    <span>MSc in Physics & ICT</span>
  </div>

  <div class="sidebar_link_group">
    <a class="important" href="/files/CV_full_engl.pdf" target="_blank">Curriculum Vitae</a>
    <hr>
    <a href="/files/CV_template.zip"><span id="LaTeX">L<sup>a</sup>T<sub>e</sub>X</span> CV template</a>
  </div>

</div>
