<div id="site_sidebar">
	<a id="sidebar_name" href="/">Eugen Rožić</a>
	<br>
	<a id="sidebar_IPA" href="https://en.wikipedia.org/wiki/Help:IPA/Serbo-Croatian" target="_blank">/&#x025B;ug&#x025B;n ro&#x0292;it&#x0361;&#x0255;/</a>
	<br>
	<div class="sidebar_link" id="sidebar_CV">
	<a href="/files/Eugen_Rozic_CV.pdf" target="_blank">Curriculum Vitae</a>
	</div>
	<div class="sidebar_link" id="sidebar_CV_template">
	<a href="/files/Eugen_Rozic_CV_template.zip">CV <span id="LaTeX">L<sup>a</sup>T<sub>e</sub>X</span> template</a>
	</div>
</div>
