<div id="page_sidebar">
  
  {% include sidebar_title_hr.html %}

  {% if page.menu %}
  <div id="sidebar_menu">
  {% for element in page.menu %}
    <div class="level1">
    <a href="{{ element[1].link[0] }}" 
    {% if element[1].link[1] == "file" or element[1].link[1] == "offsite" %}
    target="_blank"
    {% else %}
    target="_self"
    {% endif %}
    >{{ element[0] }}</a><br>
    </div>
    {% if element[1].size > 1 %}<hr>{% endif %}
    {% for subelement in element[1] %}
      {% unless subelement[0] == "link" %}
      <div class="level2">
      > <a href="{{ subelement[1][0] }}"
      {% if subelement[1][1] == "file" or subelement[1][1] == "offsite" %}
      target="_blank"
      {% else %}
      target="_self"
      {% endif %}
      >{{ subelement[0] }}</a><br>
      </div>
      {% endunless %}
    {% endfor %}
    {% unless forloop.last %}<hr>{% endunless -%}
  {% endfor %}
  </div>
  {% endif %}

</div>
