
#error404 {
  text-align: center;
  margin: 150px auto;
}
#error404 > h1 {
  margin: 0 auto 10px;
  font-size: 5em;
  //color: $link-color;
}
#error404 > h3 {
  margin: 0 auto 30px;
  font-size: 1.5em;
  //color: $link-color;
}
#error404 > p {
  text-align: inherit;
}
