#site_header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid $border-color;
  z-index: 999;
}
#site_header > table {
  width: 100%;
  padding: 0px;
  margin: 0px 0px 10px;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
}
#site_header > table td {
  word-wrap: break-word;
  border-left: 1px solid $border_color;
  border-right: 1px solid $border_color;
}
#site_header > table td:first-child {
  border-left: 0;
}
#site_header > table td:last-child {
  border-right: 0;
}
.header_link, .active_header_link {
  font-size: 1.2em;
  font-weight: normal;
}
.active_header_link {
  color: $text-color;
}
#lang_link {
  position: fixed;
  top: 10px;
  right: 10px;
  color: $border-color;
}
#lang_link > a.active {
  color: $text-color;
}
