#home_container {
  position: fixed;
  top: 4em;
  bottom: 4em;
  left: 30%;
  width: 50%;
}

#welcome_slideshow {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #000;
  width: 100%;
  // border-radius: 13px;
}
#welcome_slideshow:hover > #home_bttn_left {display: inline-block;}
#welcome_slideshow:hover > #home_bttn_right {display: inline-block;}

.welcome_pic {
  width: 100%;
  margin: 0px;
  // border-radius: inherit; -> no good, has to be a bit smaller
}

.slideshow_bttn {
  border: none;
  padding: 8px 16px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff!important;
  background-color: #000!important;
  display: none;
}
.slideshow_bttn:hover{
  color: #000!important;
  background-color: #ccc!important;
}
#home_bttn_left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
}
#home_bttn_right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%);
}
