#page_container {
  position: fixed;
  top: 4em;
  bottom: 0;
  left: 30%;
  width: 40%;
  min-width: 500px;
  overflow: auto;
  scrollbar-width: none; /*for FF and newer Chromiums etc.*/
  -ms-overflow-style: none; /*for IE 10+*/
}

#page_content {
  /*padding-top: 10px;*/
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color;
}

p {
  text-align: justify;
  line-height: 1.5;
}
